<header class="header" data-header>
    <h1>Messinia</h1>
    <div class="container">
        <div class="header__inner">
            <div class="header__logo">
                <a href="#"><img src="./img/logo.png" loading="lazy" alt="Logo Messinia Greece" width="90" height="75"></a>
            </div>
            <div class="burger" data-burger>
                <div class="burger__line"></div>
            </div>
            <nav class="header__menu" data-menu>
                <ul class="menu__list">
                    <li><a class="menu__link" href="#home" data-menu-link>Home</a></li>
                    <li><a class="menu__link" href="#service" data-menu-link>Service</a></li>
                    <li><a class="menu__link" href="#explore" data-menu-link>Explore</a></li>
                    <li><a class="menu__link" href="#team" data-menu-link>Team</a></li>
                    <li><a class="menu__link" href="#" data-menu-link>Blog</a></li>
                    <li><a class="menu__link" href="#" data-menu-link>Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>